{% extends 'base.html' %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}" />
{% endblock %}

{% block js %}

{% endblock %}

{% block main %}
    <div class="login-container">
        <h2 class="login-container-name">Login</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <p class="other-login-option">
                Don't have an accoount? Create one <a href="{% url 'sudoku-solver:signup' %}">here</a>
            </p>
            <button type="submit" name="login-submit">Sign In</button>
        </form>
    </div>
{% endblock %}
