{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}" />
{% endblock %}

{% block main %}
    <div class="login-container">
        <h2 class="login-container-name">Change Password</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" name="change-password">Change my password</button>
        </form>
    </div>
{% endblock %}
