{% extends 'base.html' %}

{% load static %}

{% block title %}
    Change Password
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}" />
{% endblock %}

{% block js %}

{% endblock %}

{% block main %}
    <div class="auth">
        <h1 class="auth__title">Change Password</h1>
        <form method="post" class="auth__form">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" name="change-password" class="auth__form-button" aria-label="Change Password">Change my password</button>
        </form>
    </div>
{% endblock %}
