{% extends 'base.html' %}

{% load static %}

{% block title %}
    Registration
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}" />
{% endblock %}

{% block js %}

{% endblock %}

{% block main %}
    <div class="auth">
        <h2 class="auth__title">Sign Up</h2>
        <form method="post" class="auth__form">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <p class="auth__other-option">
                Already have an account? Click <a href="{% url 'sudoku-solver:login' %}" class="auth__link" aria-label="Login">here</a> to login
            </p>
            <button type="submit" name="signup" class="auth__form-button" aria-label="Sign Up">Sign Up</button>
        </form>
    </div>
{% endblock %}
