Dockerfile
docker-compose.yml
.dockerignore
.gitignore
.git
readme.md
mypy.ini
.env

.venv
.vscode
.mypy_cache
requirements-dev.txt
docker-compose.override.yml
**/staticfiles
**/__pycache__
**/*.log
**/*.sqlite3
