Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore
.gitignore
.git
readme.md
.env

.venv
.vscode
.mypy_cache
**/staticfiles
**/__pycache__
**/*.log
**/*.sqlite3
**/*.js
**/*.js.map