asgiref==3.8.1
Django==5.1.7
django-debug-toolbar==5.0.1
Events==0.5
gunicorn==23.0.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
whitenoise==6.9.0
