{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
        <title>404 Not Found</title>
        <style>
            body {
                text-align: center;
                padding: 50px;
            }
            h1 {
                font-size: 50px;
                color: var(--error);
            }
            p {
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <h1>404 - Page Not Found</h1>
        <p>Oops! It seems like the page you're looking for doesn't exist.</p>
    </body>
</html>
