<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>500 Internal Server Error</title>
        <style>
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f0f0f0;
                text-align: center;
                padding: 50px;
            }
            h1 {
                font-size: 50px;
                color: #ff6347;
            }
            p {
                font-size: 20px;
                color: #777;
            }
        </style>
    </head>
    <body>
        <h1>500 - Internal Server Error</h1>
        <p>Oh no! Something went wrong on our end.</p>
    </body>
</html>
