{% extends 'base.html' %}

{% load static %}

{% block title %}
    Confirm board deletion
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/board-delete-confirm.css' %}" />
{% endblock %}

{% block js %}

{% endblock %}

{% block main %}
    <div class="delete-board">
        <h1 class="delete-board__title">Are you sure you want to delete board "{{ board_object.description }}"?</h1>
        <form method="post" class="delete-board__form">
            {% csrf_token %}
            <h2 class="delete-board__subtitle">This action can not be undone</h2>
            <div class="delete-board__actions">
                <button type="submit" class="delete-board__button delete-board__button--confirm" name="delete-board-submit">Yes, Delete</button>
                <a href="{% url 'sudoku-solver:board-detail' board_object.id %}" class="delete-board__button delete-board__button--cancel">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
