<div class="header-container">
    <h2><a href="{% url 'sudoku-solver:index' %}" class="header-item">My Website</a></h2>
    {% if user.is_authenticated %}
        <div class="header-dropdown-container">
            <button class="header-item header-dropdown-titile">{{ user.username }}<b>&triangledown;</b></button>
            <div class="dropdown-content">
                <form action="{% url 'sudoku-solver:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="header-dropdown-item" type="submit">Logout</button>
                </form>
                <a class="header-dropdown-item" href="{% url 'sudoku-solver:index' %}">Test Link</a>
            </div>
        </div>
    {% else %}
        <a class="header-item" href="{% url 'sudoku-solver:login' %}">Login</a>
    {% endif %}
</div>