{% extends 'base.html' %}

{% load static %}

{% block title %}
    Sudoku Solver
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/win-popup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/game.css' %}" />
{% endblock %}

{% block js %}
    <script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block main %}
    {% include 'win-popup.html' %}
    {% include 'game.html' %}
{% endblock %}
