.board-container {
    --color-board-widget-input-hover: #7979792f;
    --color-board-widget-input-given: #797979;
    --color-board-widget-input-candidate: #218e95;
}

.board-container__description {
    font-size: 20px !important;
}

.board-container__table {
    margin: 20px 0;
}

.board-container__cell {
    max-width: 70px;
    height: 70px;
    padding: 0;
    border: 1px solid var(--border-color);
}

.board-container__input {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    border: none !important;
    font-size: 20px;
    text-align: center;

    &:hover {
        background-color: var(--color-board-widget-input-hover);
    }
}

.board-container__input--given {
    color: var(--color-board-widget-input-given) !important;
}

.board-container__input--candidates {
    font-size: 12px !important;
    color: var(--color-board-widget-input-candidate) !important;
    letter-spacing: -0.5px;
}
