.board-action__title {
    color: var(--color-container-title);
    text-align: center;
}

.board-action__subtitle {
    color: var(--color-container-subtitle);
    text-align: center;
    margin-top: 0;
}

.board-action__subtitle--critical {
    color: var(--color-critical);
}

.board-action {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 6%;
}

.board-action__form {
    box-shadow: 0 2px 5px var(--color-container-box-shadow);
    padding: 20px;
    background: var(--color-container-background);
    border-radius: 10px;
}

.board-action__confirmation-form {
    max-width: 600px;
    margin: auto;
}

.board-action__form .errorlist {
    padding-left: 15px;
    color: var(--color-error);
}

.board-action__form label {
    color: var(--color-form-label);
}

.board-action__form input {
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    background-color: var(--color-input-background);
    border: 1px solid var(--color-form-input-border);
    border-radius: 10px;
    font-size: 15px;
    color: var(--color-input);

    &:hover {
        outline: 2px solid var(--color-form-input-border-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--color-form-input-border-focus);
    }
}

.board-action__actions {
    display: flex;
}

.board-action__button {
    flex: 1;
    margin: 10px 5px 0;
    padding: 15px;
    background-color: var(--color-form-button-background);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--color-form-button);

    &:hover {
        box-shadow: 0 4px 20px var(--color-form-button-hover-box-shadow);
        background-color: var(--color-form-button-hover-background);
    }

    &:active {
        box-shadow: 0 4px 20px var(--color-form-button-active-box-shadow);
        background-color: var(--color-form-button-active-background);
    }
}

.board-action__button--critical {
    background-color: var(--color-form-critical-button-background);

    &:hover {
        background-color: var(--color-form-critical-button-hover-background);
    }

    &:active {
        background-color: var(--color-form-critical-button-active-background);
    }
}
