.delete-board {
    max-width: 1000px;
    margin: auto;
}

.delete-board__form {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    background: var(--color-container-background);
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--color-container-box-shadow);
}

.delete-board__title {
    color: var(--color-container-title);
    text-align: center;
}

.delete-board__subtitle {
    color: var(--color-critical);
    text-align: center;
    margin-top: 0;
}

.delete-board__actions {
    display: flex;
}

.delete-board__button {
    flex: 1;
    margin: 0 5px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--color-form-button);

    &:hover {
        box-shadow: 0 4px 20px var(--color-form-button-hover-box-shadow);
    }

    &:active {
        box-shadow: 0 4px 20px var(--color-form-button-active-box-shadow);
    }
}

.delete-board__button--confirm {
    background-color: var(--color-form-critical-button-background);
    cursor: pointer;

    &:hover {
        background-color: var(--color-form-critical-button-hover-background);
    }

    &:active {
        background-color: var(--color-form-critical-button-active-background);
    }
}

.delete-board__button--cancel {
    background-color: var(--color-form-button-background);
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: var(--color-form-button-hover-background);
    }

    &:active {
        background-color: var(--color-form-button-active-background);
    }
}
