#sudoku-container {
    text-align: center;
}

#sudoku-container h1 {
    color: #344861;
    padding: 10px;
    margin: 0;
}

#canvas-grid {
    user-select: none;
}

#game-controls {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

.game-controls-item-wrap {
    width: 100%;
    max-width: 70px;
    margin: 5px;
}

.game-controls-item {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #eaeef4;
    user-select: none;
    padding: 10px;
    margin: 5px;
}

.game-controls-item:hover,
.numpad-item:hover {
    background-color: #dce3ed;
}

.game-controls-item:active,
.numpad-item:active {
    background-color: #d2dae7;
}

.game-controls-label {
    font-size: 13px;
    color: #325aaf;
    font-weight: 550;
    cursor: default;
    text-align: center;
}

.pencil-mode #game-controls-notes {
    outline: 2px solid #325aaf;
}

.auto-notes-mode #game-controls-notes {
    outline: 2px solid #0de7b8;
}

#numpad {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

.numpad-item-wrap {
    width: 100%;
    max-width: 60px;
    margin: 5px;
}

.numpad-item {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #eaeef4;
    user-select: none;
}
