#sudoku-container {
    text-align: center;
    margin-bottom: 6%;
}

#sudoku-container h1 {
    color: #344861;
    padding: 10px;
    margin: 0;
}

#canvas-grid {
    user-select: none;
}

#game-controls {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

.game-controls-item-wrap {
    width: 100%;
    max-width: 70px;
    margin: 5px;
}

.game-controls-item {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #eaeef4;
    user-select: none;
    padding: 10px;
    margin: 5px;
}

.game-controls-item:hover,
.numpad-item:hover {
    background-color: #dce3ed;
}

.game-controls-item:active,
.numpad-item:active {
    background-color: #d2dae7;
}

.game-controls-label {
    font-size: 13px;
    color: #325aaf;
    font-weight: 550;
    cursor: default;
}

.pencil-mode #game-controls-notes {
    outline: 2px solid #325aaf;
}

.auto-notes-mode #game-controls-notes {
    outline: 2px solid #0de7b8;
}

#numpad {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

.numpad-item-wrap {
    width: 100%;
    max-width: 60px;
    margin: 5px;
}

.numpad-item {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #eaeef4;
    user-select: none;
}

/* Win Popup */
#win-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

#win-popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px #0000004d;
    width: 80%;
    max-width: 500px;
}

#win-popup-content h1 {
    color: #4caf50;
    text-align: center;
    margin-bottom: 10px;
}

#win-popup-content p {
    color: #555;
    text-align: center;
    margin: 10px 0;
}

#win-popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#win-popup-close:hover {
    color: #ff5252;
    text-shadow: 0 4px 20px #00000066;
}

/* Win Popup animations */
.is-visible#win-popup {
    display: block;
}

.is-visible #win-popup-content {
    opacity: 0;
    animation: fadeIn ease 0.4s forwards;
}

@keyframes fadeIn {
    from {
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
    }
}
