.board-list {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 6%;
}

.board-list__link {
    color: var(--color-link);

    &:hover {
        color: var(--color-link-hover);
    }
}

.board-list__title,
.create-board__title {
    color: var(--color-container-title);
    text-align: center;
}

.board-list__items {
    box-shadow: 0 2px 5px var(--color-container-box-shadow);
    padding: 20px;
    background: var(--color-container-background);
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
}

.board-list__item {
    padding: 5px;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.board-list__pagination {
    text-align: center;
}

.board-list__current {
    color: var(--color-container-title);
}

.create-board {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 6%;
}

.create-board__form {
    box-shadow: 0 2px 5px var(--color-container-box-shadow);
    padding: 20px;
    background: var(--color-container-background);
    border-radius: 10px;
}

.create-board__form label {
    color: var(--color-form-label);
}

.create-board__form input {
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    background-color: var(--color-input-background);
    border: 1px solid var(--color-form-input-border);
    border-radius: 10px;
    font-size: 15px;
    color: var(--color-input);

    &:hover {
        outline: 2px solid var(--color-form-input-border-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--color-form-input-border-focus);
    }
}

.create-board__button {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 15px;
    background-color: var(--color-form-button-background);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--color-form-button);

    &:hover {
        box-shadow: 0 4px 20px var(--color-form-button-hover-box-shadow);
        background-color: var(--color-form-button-hover-background);
    }

    &:active {
        box-shadow: 0 4px 20px var(--color-form-button-active-box-shadow);
        background-color: var(--color-form-button-active-background);
    }
}
