.board-list-container,
.create-board-container {
    max-width: 1000px;
    margin: auto;
}

.board-list-container-name,
.create-board-container-name {
    text-align: center;
    color: grey;
}

.board-list a,
.board-list-pagination a {
    color: inherit;
}

.board-list a:hover,
.board-list-pagination a:hover {
    color: #007bff;
}

.board-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    list-style-type: none;
}

.board-list-item {
    margin: 5px;
}

.create-board-form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.create-board-form label {
    color: rgb(111, 111, 111);
}

.create-board-form input {
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    color: grey;
}

.create-board-form input:focus {
    outline-color: #007bff;
}

.create-board-form button {
    margin: 10px 0 0 0;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.create-board-form button:hover {
    background-color: #006ce0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.create-board-form button:active {
    background-color: #0267d3;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}