:root {
    --header-height: 60px;
}

header {
    --header: #f0f0f0;
    --header-background: #59b1b8e6;
    --header-dropdown-background: #f9f9f9;
    --header-dropdown-item: #272727;
    --header-dropdown-item-hover-background: #d3d3d3;
}

@media (prefers-color-scheme: dark) {
    header {
        --header: #e7e7e7;
        --header-background: #417690;
        --header-dropdown-background: #3b3a3a;
        --header-dropdown-item: #e7e7e7;
        --header-dropdown-item-hover-background: #454545;
    }
}

.header-container {
    position: fixed;
    transition: transform 0.3s ease;
    height: var(--header-height);
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    color: var(--header);

    .scrolled-down & {
        transform: translateY(-100%);
    }
}

.header-container a {
    text-decoration: none;
}

.header-container button {
    border: none;
    cursor: pointer;
}

.header-item {
    color: inherit;
    padding: 10px;

    &:hover {
        text-shadow: 0 4px 20px var(--text-shadow);
    }

    &:not(:is(h1, h2, h3, h4, h5, h6) *) {
        font-size: 18px;
    }
}

.header-dropdown-container {
    min-width: 160px;
    position: relative;
}

.header-dropdown-title {
    background-color: inherit;
    width: 100%;
    text-align: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px var(--container-box-shadow);
    background-color: var(--header-dropdown-background);
    width: 100%;

    .header-dropdown-container:hover & {
        display: block;
    }
}

.header-dropdown-item {
    font-size: 15px;
    padding: 12px 16px;
    width: 100%;
    cursor: pointer;
    background-color: inherit;
    color: var(--header-dropdown-item);
    border-radius: 10px;
    display: block;
    text-align: center;

    &:hover {
        background-color: var(--header-dropdown-item-hover-background);
    }
}
