:root {
    --header-height: 60px;
}

.header-container {
    position: fixed;
    transition: transform 0.3s ease;
    height: var(--header-height);
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #59b1b8e6;
    color: #ffffff;
}

.scrolled-down .header-container {
    transform: translateY(-100%);
}

.header-container a {
    text-decoration: none;
}

.header-container button {
    border: none;
    cursor: pointer;
}

.header-item {
    color: inherit;
    padding: 10px;
}

.header-item:not(:is(h1, h2, h3, h4, h5, h6) *) {
    font-size: 18px;
}

.header-item:hover {
    text-shadow: 0 4px 20px #00000066;
}

.header-dropdown-container {
    min-width: 160px;
    position: relative;
}

.header-dropdown-titile {
    background-color: inherit;
    width: 100%;
    text-align: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px #0000004d;
    background-color: #f9f9f9;
    width: 100%;
}

.header-dropdown-container:hover .dropdown-content {
    display: block;
}

.header-dropdown-item {
    font-size: 15px;
    padding: 12px 16px;
    width: 100%;
    cursor: pointer;
    background-color: inherit;
    color: #272727;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.header-dropdown-item:hover {
    background-color: #d3d3d3;
}
