.password-widget {
    --color-auth-form-password-widget-background: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
    .password-widget {
        --color-auth-form-password-widget-background: #4d4b4b;
    }
}

.auth {
    max-width: 600px;
    margin: auto;
}

.auth__title {
    text-align: center;
    color: var(--color-container-title);
}

.auth__other-option {
    margin-top: 15px;
}

.auth__link {
    color: var(--color-link);

    &:hover {
        color: var(--color-link-hover);
    }
}

.auth__form {
    background: var(--color-container-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--color-container-box-shadow);
}

.auth__form label {
    color: var(--color-form-label);
}

.auth__form p,
.auth__form ul {
    margin: 0 0 10px 0;
}

.auth__form input {
    color: var(--color-input);
    background-color: var(--color-input-background);
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid var(--color-form-input-border);
    border-radius: 10px;
    font-size: 15px;

    &:hover {
        border-color: var(--color-form-input-border-hover);
    }

    &:focus-visible {
        outline: none;
        border-color: var(--color-form-input-border-focus);
    }
}

.auth__form-button {
    margin: 10px 0 0 0;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    background-color: var(--color-form-button-background);
    color: var(--color-form-button);
    font-size: 15px;
    border: none;
    border-radius: 10px;

    &:hover {
        background-color: var(--color-form-button-hover-background);
        box-shadow: 0 4px 20px var(--color-form-button-hover-box-shadow);
    }

    &:active {
        background-color: var(--color-form-button-active-background);
        box-shadow: 0 4px 20px var(--color-form-button-active-box-shadow);
    }
}

.auth__form .errorlist {
    padding-left: 15px;
    color: var(--color-error);
}

.password-widget {
    display: flex;
}

.password-widget input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.password-widget__reveal-wrapper {
    cursor: pointer;
    width: 35px;
    padding: 4px;
    margin: 5px auto;
    background-color: var(--color-auth-form-password-widget-background);
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--color-form-input-border);
    border-left: 0;
    user-select: none;

    &:hover {
        box-shadow: 0 4px 20px var(--color-form-button-hover-box-shadow);
    }

    &:active {
        box-shadow: 0 4px 20px var(--color-form-button-active-box-shadow);
    }
}

.password-widget__reveal--hidden {
    display: none;
}
