:root {
    --color-body: #333;
    --color-body-background: #f0f0f0;
    --color-text-shadow: #00000066;
    --color-error: #ff6347;
    --color-critical: #ff4c2d;
    --color-link: #3f67af;
    --color-link-hover: #4b97e9;
    --color-input: #808080;
    --color-input-background: #fff;
    --color-container-background: #fff;
    --color-container-box-shadow: #0000004d;
    --color-container-title: #808080;
    --color-form-button: #fff;
    --color-form-button-background: #007bff;
    --color-form-button-hover-background: #006ce0;
    --color-form-button-hover-box-shadow: #00000033;
    --color-form-button-active-background: #0267d3;
    --color-form-button-active-box-shadow: #0000004d;
    --color-form-critical-button-background: #e74c3c;
    --color-form-critical-button-hover-background: #c44335;
    --color-form-critical-button-active-background: #af3c2f;
    --color-form-input-border: #ccc;
    --color-form-input-border-hover: #47a0ff;
    --color-form-input-border-focus: #0267d3;
    --color-form-label: #6f6f6f;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --color-body: #dddddd;
        --color-body-background: #212327;
        --color-input: #cdcdcd;
        --color-input-background: #5b5b5b;
        --color-link: #c9c9c9;
        --color-container-background: #3b3a3a;
        --color-form-button-background: #305a6f;
        --color-form-button-hover-background: #305669;
        --color-form-button-active-background: #2a4c5d;
        --color-form-input-border: #757575;
        --color-form-input-border-focus: #1e7add;
        --color-form-label: #bdbdbd;
    }
}

:root {
    --layout-header-height: 60px;
    --layout-footer-height: 60px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-body-background);
    font-family: sans-serif, Arial;
    color: var(--color-body);
}

main {
    padding-top: var(--layout-header-height);
}
