.win-popup-wrapper {
    --color-win-popup-title: #4caf50;
    --color-win-popup-close-button: #aaa;
    --color-win-popup-close-button-hover: #ff5252;
}

.win-popup-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-container-box-shadow);
    backdrop-filter: blur(4px);
}

.win-popup-wrapper--hidden {
    display: none;
}

.win-popup {
    background-color: var(--color-body-background);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px var(--color-container-box-shadow);
    width: 80%;
    max-width: 500px;
}

.win-popup__title {
    color: var(--color-win-popup-title);
    text-align: center;
    margin-bottom: 10px;
}

.win-popup__message {
    color: var(--color-body);
    text-align: center;
    margin: 10px 0;
}

.win-popup-wrapper:not(.win-popup-wrapper--hidden) .win-popup {
    opacity: 0;
    animation: fadeIn ease 0.4s forwards;
}

@keyframes fadeIn {
    from {
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
    }
}

.win-popup__close {
    color: var(--color-win-popup-close-button);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: var(--color-win-popup-close-button-hover);
        text-shadow: 0 4px 20px var(--color-text-shadow);
    }
}
