:root {
    --win-popup-header: #4caf50;
    --win-popup-close: #aaa;
    --win-popup-close-hover: #ff5252;
}

.win-popup-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--container-box-shadow);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.win-popup-wrapper.hidden {
    display: none;
}

.win-popup {
    background-color: var(--body-background);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px var(--win-popup-shadow);
    width: 80%;
    max-width: 500px;
}

.win-popup h1 {
    color: var(--win-popup-header);
    text-align: center;
    margin-bottom: 10px;
}

.win-popup p {
    color: var(--body);
    text-align: center;
    margin: 10px 0;
}

.win-popup-close {
    color: var(--win-popup-close);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.win-popup-close:hover {
    color: var(--win-popup-close-hover);
    text-shadow: 0 4px 20px var(--text-shadow);
}

.win-popup-wrapper:not(.hidden) .win-popup {
    opacity: 0;
    animation: fadeIn ease 0.4s forwards;
}

@keyframes fadeIn {
    from {
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
    }
}
