{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block main %}
    <div class="login-container">
        <h2 class="login-container-name">Sign Up</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="other-login-option">Already have an accoount? Click <a href="{% url 'sudoku-solver:login' %}">here</a> to login</p>
            <button type="submit" name="login">Sign Up</button>
        </form>
    </div>
{% endblock %}