{% extends "admin/base.html" %}

{% load static %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
{% endblock extrahead %}

{% block title %}
    {% if subtitle %}{{ subtitle }} |{% endif %}
    {{ title }} | {{ site_title|default:_("My site admin") }}
{% endblock title %}

{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}">My Site Administration</a>
    </div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock branding %}
